<body background="https://d13yacurqjgara.cloudfront.net/users/651599/screenshots/1995442/animation-short2.gif">
<div class="border-form-div">
<h1>Enter Your Amount in  Euros</h1>
<%= form_tag "/validate3" do %>
<%= text_field_tag :search %>
<%= submit_tag "Submit" %>
<%end%>
</div>