<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<head>
<style>
body {
  
    background-height:auto;
    background-size: cover;
   
    
    background-image: url("http://www.matteotortello.com/wp-content/uploads/2016/03/01-1.jpg");
    background-repeat: no-repeat;

}


</style>
</head>
<div class="border-form-div">	
<h1> To Find intake of Fat : </h1>
<%= form_tag "/validate1" do %>
<%= text_field_tag :check_number %>
<%= submit_tag "Check" %>

<% end %>
</div>