


<h3>
    Considering the fact that how much food is wasted because of simple ignorance, 
    we have devised a project called “Fridge Keeper”, which is real time based and, 
    that will prevent customers or retailers for wastage of food. And, additionally it will have nutrients information all available at one scan. 
    It will also help the customers to avoid long queue for checkout by having a smart shopping experience. Customer/Retailers will now be notified via
    an alert system that their food is going to expire and consume or sell at a discounted price, respectively. This application can show different recipes 
    based on the food which is due for expiry. This will help to prevent wastage of food and if they want, they can also donate the food by using charity 
    links provided in this application. It is all possible by implementing RFID tags that will store all the products related information like price, expiry date,
    best before date and nutrients like calories and proteins. Retailers can also benefit from this by having all the data at a single server and avoiding any manual
    entries of their products, 
    it will also be useful for tracking of their products in terms of re-stocking and changes of rates as and when required.
</h3>